.img {
    position: relative;
  }
  
  .img::before {
    content: "";
    background-image: url('/2.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1; 
  }

.au-wrapper{
    position: relative;
}

.au-container{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.au-spec{
    width: 100vw;
    height: 100vh;
}

.point{
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    border-left: 4px solid #0654a7; 
    background-color: #f0f0f0; 
    color: #333; 
    font-size: 16px;
    line-height: 1.5;
    
  }
  
  .point::before {
    content: '\2022'; 
    color: #007bff; 
    font-weight: bold; 
    margin-right: 8px; 
  }

  .next{
    font-weight: bold;
  }


.au-head{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    width: 85%;
}

.tag{
    color: var(--secondary-color);
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

.title{
    font-size: 1.6rem;
    color: var(--title-color);
    font-weight: bold;
    text-align: center;
    line-height: 3.5rem;
    text-transform: capitalize;
}

.sec-title{
    font-size: 2rem;
    color: var(--title-color);
    font-weight: 600;
    text-align: center;
    line-height: 3rem;
    text-transform: capitalize;
}

.text{
    color: var(--text-color);
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.des{
    font-size: 1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.description{
    margin-top: 1rem;
    font-size: 1rem;
    /* color: var(--text-color); */
    color: black;
    line-height: 2.2rem;
    text-align: center;
}

.count {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    border: 0px solid #d0d4d1;
    border-radius: 10px;
    overflow: hidden;
    background-color: #020f14;
    font-weight: bolder;
  }
  
  .co {
    margin-left: 8rem;
    margin-right: 3rem;
    font-size: 1.2rem;
    position: relative;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    transition: transform 0.3s ease; /* Add a transform transition for a subtle effect */
  }
  
  .count::before {
    content: '';
    border-left: 2px solid #434343;
    height: 100%;
    margin-right: 10px;
  }
  
  .co:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); /* Add a scale effect on hover */
  }
  
  /* Add some spacing between elements for better visual appeal */
  .co + .co {
    margin-left: 1rem;
  }
  
  /* Add a gradient background for a modern touch */
  .count {
    background: linear-gradient(45deg, #79a6a6, #f1f8f9);
  }
  
  

.cont{
    color:  #08127d;
}

.au-blocks{
    width: 100%;
    display: flex;
    gap: 2rem;
}

.au-block{
    margin-top: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    box-shadow: var(--shadow);
    border-radius: 2rem;
    background-color:   #ebfaf3;
}

.block-features{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
   
}

.feat{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    text-align: center;

}

.block-feature{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    gap: 1rem;
    border: 1.2px solid hsla(0, 0%, 59%, 0.17);
    border-radius: 1rem;
    padding: 1rem;

    color: var(--title-color);
    font-size: 1.1rem;
    line-height: 1.6rem;
    font-weight: 500;

    height: fit-content;
}

 .au-block:nth-child(1) > .block-features >:nth-child(2)
{
    margin-top: 3rem;
}

.au-block:nth-child(2) > .block-features >:nth-child(2)
{
    margin-top: 3rem;
}

/* .au-block:nth-of-type(2) > .block-features >:nth-child(1),
.au-block:nth-of-type(2) > .block-features >:nth-child(3){
    margin-top: 2rem;
} */

.au-support{
    display: flex;
    padding: 2rem;
    box-shadow: var(--shadow);
    border-radius: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    background: white;
}

.au-support > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.au-support > :nth-child(1) {
    flex: 1;
}

.au-support > :nth-child(2) {
    flex: 1.6;
}

@media (max-width : 990px) {
    .au-blocks{
        flex-direction: column;
    }
}

@media (max-width : 768px) {
    .au-support{
        flex-direction: column;
    }
}

@media (max-width : 576px) {
    .au-block{
        width: 80%;
        margin: auto;
    }
    .block-features{
        flex-direction: column;
    }
    .block-feature{
        margin-top: 0rem!important;
    }
}